body {
  margin: 0 auto;
  padding: 20px;
  width: 750px;
  text-align: left;
}

p.section-code {
  font-weight: bold;
}

p.section-bal {
  margin-top: 0.5in;
}

p.sub1 {
  margin-left: 0;
}

p.sub2 {
  margin-left: 0.5in;
}

p.sub3 {
  margin-left: 1.0in;
}

p.sub4 {
  margin-left: 1.5in;
}

p.sub5 {
  margin-left: 2.0in;
}

a {
  color: black;
}

a:hover {
  color: #0020c2;
}

span.new-text {
  font-style: italic;
}

span.old-text {
  text-decoration: line-through;
}
